body {
  background-color: beige;

  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.weather-app {
  background: grey;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 30px 60px rgba(60, 50, 90, 0.1);
  border-radius: 15px;
  padding: 30px;
}

.weather-app-city-h1 {
  font-family: "Courier New", Courier, monospace;
}

.header {
  border-bottom: 1px solid grey;
  padding: 15px 10px;
}
.search-form-input {
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px;
}
.search-form-button {
  background: black;
  color: aliceblue;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 0;
}

.footer {
  text-align: center;
  padding: 30px 0 0 0;
  border-top: 1px solid grey;
  color: pink;
}
